### Subsetting review data

The review dataset is huge (5.34G). For preliminary analysis, extracting all other variables except review text and create a new dataset and pickle it. Extracting is done by line-by-line reading the data to prevent computer from crashing. New subsetted data is saved via joblib.dump.

In [34]:
import pandas as pd
import numpy as np
import json
import joblib
import time
import matplotlib.pyplot as plt

In [28]:
# The reading of data is timed for experiment. 
start_time = time.time()

# Create empty lists to store variables of original dataset
r_id = []
b_id = []
u_id = []
star = []
useful = []
funny = []
cool = []
date = []


#r = 0 togerther with the muted code below was used for experimenting data reading time
with open("yelp_academic_dataset_review.json", "r") as f:
    for line in f.readlines():
        review = json.loads(line) # current line of the original data that has been read
        r_id.append(review['review_id'])
        b_id.append(review['business_id'])
        u_id.append(review['user_id'])
        star.append(review['stars'])
        useful.append(review['useful'])
        funny.append(review['funny'])
        cool.append(review['cool'])
        date.append(review['date'])
        
        
        #r += 1
        #if r > 100000:
            #break

end_time = time.time()
end_time - start_time  # Reading the entire dataset except text variable took 23s.

22.954963207244873

In [29]:
# Create dataframe using the lists of variables
df_review = pd.DataFrame(list(zip(r_id, u_id, b_id, star, useful, funny, cool, date)), 
                        columns = ['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'date'])
print(df_review.shape) # nrow = 6990280, ncol = 8
df_review.head()

(6990280, 8)

,review_id,user_id,business_id,stars,useful,funny,cool,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,2017-01-14 20:54:15

In [30]:
# Dump the dataframe as 'review_no_text.py' in the local working directory
joblib.dump(df_review, 'review_no_text.py') # It's still pretty big, taking up 1.1G.

['review_no_text.py']